/*font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;*/
body{
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: 900;
}

h2{
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: #8F8F8F;
}

/*------------------------------------------features------------------------------------------*/
#title {
  background-color: #FF4C68;
  color: #FFFFFF;
}

.container-fluid{
  padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

/* Download button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title-image */

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/*------------------------------------------features------------------------------------------*/

#features{
  padding: 7% 15%;
  background-color: #FFFFFF;
  position: relative;
}

.features-box {
  text-align: center;
  padding: 5%;
}

.features-icon {
  color: #EF8172;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #FF4C68;
}

/*------------------------------------------testimonials section------------------------------------------*/
#testimonials {
  text-align: center;
  background-color: #EF8172;
  color: #FFFFFF;
}

.testimonial-img {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

#press {
  background-color: #EF8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}

/*------------------------------------------pricing plans------------------------------------------*/

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/*------------------------------------------cta------------------------------------------*/

#cta {
  text-align: center;
  background-color: #FF4C68;
  padding: 7% 15%;
}

.cta-h3 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: 900;
  color: #FFFFFF;
}

/*------------------------------------------footer------------------------------------------*/
#footer {
  padding: 7% 15%;
  text-align: center;
}

.footer-icon {
    margin: 20px 10px;
}


/*--------------------------------------------------------------------------------------------------*/
/*------------------------------------------responsive css------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

@media (max-width: 990px) {
  #title{
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}
